<div class="b-page">
	

	{# We'll show most page regions only if there's content within them #}

	{% if page.navbar %}

		<nav class="b-navbar">

			<h2 class="sr-only">Main page navigation</h2>

			<button class="b-navbar__button js-navbar-button" type="button">
				<span class="b-navbar__bar js-navbar-bar"></span>
				<span class="b-navbar__bar js-navbar-bar"></span>
			</button>

			{{ page.navbar }}
				

		</nav>

	{% endif %}


</div>