{% if content %}
  <header{{ attributes }}{{ attributes.addClass('b-header') }}>
  	<div class="b-header__filter"></div>
  	<div class="b-header__content">
  		{{ content }}
  	</div>    
  </header>
{% endif %}