{% if content %}
  <div{{ attributes }}{{ attributes.addClass('b-navbar-content-container',
    'b-navbar-content-container--padded', 'js-navbar-content-container') }}>
    {{ content }}
  </div>
{% endif %}